*{
  list-style-type: none;
  text-decoration: none;
  font-family: Comic Sans MS;
}



body{
  min-height: 100vh ;
  background: linear-gradient(to bottom right, #fffc00, #00fff5);
}

#border_navi{
  border: 1px solid #ffffff;
  padding: 1vh;
  border-radius: 15px
}

.welcome{
  font-size: 24px;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  text-align: center;
  background-color: #ff8800;
}

nav a{
  font-size: 22;
  display: block;
  width: 100%;
  color: white;
}

.body_container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom:30px;
}

#welcome{
  font-size: 24px;
  text-align: center;  
}

#border_welcome{
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #ffc400;
}

.anime_list{
  margin-top: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

img{
  height: 200px;
}

.border{
  border-radius: 8%;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border: 2px solid #ffc400;
}

footer{
  bottom: 2px;
  right: 10px;
  width: 98vw;
  height: 35px;
  justify-content:center;
  display: flex;
  align-items: center;
  background-color: #ff8800;
  position: absolute;
}
.footer-el{
  padding-right:10px;
}