*{
  list-style-type: none;
  text-decoration: none;
  font-family: Comic Sans MS;
}

body{
  min-height: 100vh ;
  background: linear-gradient(to bottom right, #fffc00, #00fff5);
}

.flex_all{
  display: flex;
}

#make_look_good{
  margin: 0.5em;
  border: 2px solid orange;
  justify-content: space-around;
  display: flex;
  flex-direction: column
}

#border_nav_2{
  text-align: center;
  width: 5vw;
  font-size: 25px
}

#border_navi{
  border: 1px solid #ffffff;
  padding: 1vh;
  border-radius: 15px
}

.welcome{
  font-size: 24px;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  text-align: center;
  background-color: #ff8800;
}

nav a{
  font-size: 22;
  display: block;
  width: 100%;
  color: white;
}

.body_container{
  border: 10px solid black;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  margin-bottom:30px;
  width: 80vw;
  heigth: 80vh;
}

#welcome{
  font-size: 24px;
  text-align: center;  
}

#border_welcome{
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #ffc400;
}

.anime_list{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

img{
  height: 200px;
}

.border{
  border-radius: 8%;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border: 2px solid #ffc400;
}













html, body {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  font-family: Calibri, sans-serif;
}

.wrapper {
  padding: 20px;
  height: auto;
}

footer {
  background: #ff8800;
  display: table-row;
  height: 1px;
}