*{
  list-style-type: none;
  text-decoration: none;
  font-family: Comic Sans MS;
}

#tLabel{
  border-radius: 7px;
  padding: 3px;
  background: orange;
  position: fixed;
  display: flex;
  justify-content: center;
}

#set_choosen_to_center{
  display: flex;
  justify-content: center;
}

#all_chosen{
  display: flex;
  justify-content: center;
  aign-otems: center;
}

body{
  background: linear-gradient(to bottom right, #fffc00, #00fff5);
}

footer{
  margin: 3px;
  border-radius: 7px;
  right: 0;
	bottom: 0;
  padding: 2px;
  position: absolute;
  background: #ff8800;
}