<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../избранное.jpg">
  <link rel="stylesheet" href="../static/chosen.css">
  <title>Избранное</title>
</head>
<body>

    <nav id='border_navi'>
        <a href="templates/hikki.html">Никита</a>
        <a href="templates/rate_form.html">Отзыв</a>
        <a href="templates/ivan.html">Иван</a>
        <a href="templates/Admin.html">admin</a>
        <a href="../index.html">На главную</a>
        <a href="templates/cab.html">Личный кабинет</a>
    </nav>
    <div id = 'out_cont_for_tLabel'>
        <div id = 'tLabel'>Избранные аниме</div>
    </div>
    <div id = 'chosen_anime'>
        <div id='border' id='description1'>
        <img src="../photo/труд.jpg" alt="Тяжкий труд в подземелье">
        <figcaption>Тяжкий труд в подземелье</figcaption>
    </div>
    <div id='border' id='description1'>
        <img src="../photo/труд.jpg" alt="Тяжкий труд в подземелье">
        <figcaption>Тяжкий труд в подземелье</figcaption>
    </div>
    <div id='border' id='description1'>
        <img src="../photo/труд.jpg" alt="Тяжкий труд в подземелье">
        <figcaption>Тяжкий труд в подземелье</figcaption>
    </div>
        <div id = 'cont_for_del'>
            <button id = 'del_button'>Удалить аниме</button>  <!-- добавь типо кирпичей (знак) такой кружок (белый хотя может какой ещё) и в нём красный прямоугольник и все анимешки трясуться немного (благо знаешь как это сделать) -->
        </div>
    </div>
</body>
</html>